<!DOCTYPE html>
<html>
  <h2>New Message</h2>
  <form method="POST" action="/new">
    <label>Name</label>
    <input type="text" name="user">
    <label>Message</label>
    <input type="text" name="userMessage">
    <button type="submit">Send</button>
 </form>
</html>