<!DOCTYPE html>
<html>
  <div><%- title %></div>
  <br>
  <% messages.forEach(message => { %>
    <div><%= message.added %></div>
    <div><%= message.user %> <%= message.text %></div>
  <% }) %>
  <br>
  <a href="/new">New Message</a>
</html>
